body {
  margin: 0;
  padding: 0;
  background-color: rgba(202, 208, 219, 0.5);
}
.navBar {
  background-color: rgba(108, 137, 166, 0.7);
  box-shadow: 0 5px 20px rgba(108, 137, 166, 0.7);
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.navList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
}

.navList li {
  list-style: none;
}
.navList li a {
  text-decoration: none;
  color: #283b5c;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}

/* MovieList */
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.MovieList {

}
